{% extends 'base.html.twig' %}
{% block content %}


	<h1>
		Products
	</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Actions</th>

			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>
						<form action="{{ path('product_detail', { id: product.id }) }}" method="post" style="display:inline;">
							<button type="submit" class="btn btn-secondary">consult</button>

						</form>

						<form action="{{ path('product_edit', { id: product.id }) }}" method="post" style="display:inline;">
							<button type="submit" class="btn btn-secondary">Edit</button>

						</form>

						<form action="{{ path('product_delete', { id: product.id }) }}" method="post" style="display:inline;" onsubmit="return confirmDeletion();">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
							<button type="submit" class="btn btn-secondary">Delete</button>

						</form>
					</td>


				</tr>
			{% endfor %}
		</tbody>
	</table>

	<form action="{{ path('product_form') }}" method="post">
		<button type="submit" class="btn btn-primary">Add Product</button>

	</form>
{% endblock %}
