{% extends 'base.html.twig' %}

{% block content %}

	<div class="example-wrapper">
		<h1>Prospect form</h1>

		{{ form_start(form) }}

		<div class="form-row">
			{{ form_label(form.name) }}:
			{{ form_widget(form.name) }}
		</div>

		<div class="form-row">
			{{ form_label(form.Email) }}:
			{{ form_widget(form.Email) }}

		</div>

		<div class="form-row">
			{{ form_label(form.city) }}:
			{{ form_widget(form.city) }}
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>


		{{ form_end(form) }}
	</div>
{% endblock %}
